# Comma-separated list of browsers to test
BROWSERS=
# Number of workers to use
# Default: 1
WORKERS=
# Base URL of the Calkoo website
# Default: https://www.calkoo.com/en/vat-calculator
CALKOO_BASE_URL=